.medical-centers-section {
    background-color: #FFF; /* Bakgrundsfärgen för sektionen */
    padding: 40px;
}

.medical-centers-container {
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.map-container {
    flex: 1;
    display: flex;
    justify-content: center; 
}

.map-image {
    width: 150%;
    margin-top: 80px;
    margin-left: 180px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.medical-centers-info {
    margin-top: 80px;
    margin-left: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.medical-center h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.medical-center p {
    margin-bottom: 5px;
    color: #666;
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icons a {
    margin-right: 10px;
}


.right-2 {
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
}

body.dark-theme .contact-container,
body.dark-theme .consultation-form,
body.dark-theme .medical-centers-section,
body.dark-theme .medical-centers-info {
  background-color: #3c233f; /* Samma mörka bakgrundsfärg som för andra sektioner */
}

body.dark-theme .consultation-form {
    background: black;
}



body.dark-theme h2,
body.dark-theme h3,
body.dark-theme p,
body.dark-theme a,
body.dark-theme .contact-link {
  color: #ffffff; /* Vit text för att stå ut mot mörk bakgrund */
}

body.dark-theme .appointment-button {
  background-color: #4A90E2; /* Bibehåll färgen på knapparna för att hålla konsistens */
}
