.faq-section {
    padding: 50px;
    background-color: var(--secondary-color);
  }
  
  .faq-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .faq-left {
    flex: 1;
    padding: 20px;
  }
  
  .faq-right {
    flex: 1.5;
    padding: 20px;
  }
  
  .contact-options {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .contact-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .contact-phone img {
    fill: #4f46e5; /* Blå färg */
  }
  
  .contact-chat img {
    fill: #34d399; /* Grön färg */
  }
  
  .faq-list {
    width: 100%;
  }
  
  .faq-item {
    border-bottom: 1px solid #e5e7eb;
    padding: 10px 0;
  }
  
  .faq-question {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .faq-icon {
    font-size: 18px;
  }
  
  .faq-answer {
    padding-top: 10px;
    display: block; /* Se till att detta syns */
    background-color: #ebebeb;
    color: black;
    border-radius: 8px; /* Rundade kanter för tydlighet */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Skugga för kontrast */
}
